body{
  background: #ccc;
  color: #333;
  font: 14px 'Arial',sans-serif;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}
div.contenedor {
  width: 100%;
  margin: 0 auto;
}
div.juego {
  
}
div.juego canvas {
  box-shadow: 0 0 30px #000;
}
html{
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block;  /* No floating content on sides */
}

