/*
    CSS de la seccion de Game Over

    Describe el tamaño de las fuentes de texto, asi como las posiciones de las imagenes y
    de dichos textos
*/
/* Tamaño de la fuente de los titulos */
h3{
    margin-left: 500;
    font: 200% 'Arial',sans-serif;
    position: absolute;    
}
/* Posicion del titulo de las puntuaciones */
#tituloPuntuaciones{
    position: absolute;
    top: 10%;
}
/* Tamaño y posicion de los indices de las puntuaciones */
p1{
    font: 100% 'Arial',sans-serif;
    margin-left: 500;
    position:  absolute;
    top: 22%;
}
/* Tamaño y posicion de los nombres de las puntuaciones */
p2{
    font: 100% 'Arial',sans-serif;
    margin-left: 650;
    position:  absolute;
    top: 22%;
}
/* Tamaño y posicion de los valores de las puntuaciones */
p3{
    font: 100% 'Arial',sans-serif;
    margin-left: 800;
    position:  absolute;
    top: 22%;
}
/* Tamaño y posicion de la primera imagen animada del fondo */
#pusheen_1{
    width: 20%;
    position: absolute;
    top:22%;
    left: 15%
}
/* Tamaño y posicion de la segunda imagen animada del fondo */
#pusheen_2{
    width: 20%;
    position: absolute;
    top:22%;
    left: 65%
}
/* Color del fondo de la página */
body{
    background: #fcf0e4;
}
/* Tamaño y posicion de la instruccion para salir del game over*/
#salida{
    position: absolute;
    top: 60%;
    left: -3%;
}