#player_1{
  position: absolute;
  height: 100px;
  width: 100px;   
  top: 200px;
  left:  0px; 
  fit: clip;
}
#bullet_1{
  position:  absolute;
  height: 40px;
  left:  0px;
  top:  190px;
  visibility: hidden;
}
#Pepino{
  position:  absolute;
  height:  150px;
  top:  140px;
  left:  460px;
  fit: clip;
}
#Pepino_bullet{ 
  position:  absolute;
  height:  80px;
  top:  220px;
  left:  470px;
  visibility: hidden;
}

